@page "/unidadefederativa"
@inherits ListarUnidadeFederativaPage

<MudText Typo="Typo.h3">Unidade(s) federativa(s)</MudText>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.TwoTone.Add"
               Href="/unidadefederativa/adicionar">
        NOVA UNIDADE FEDERATIVA
    </MudButton>
</div>

<MudDataGrid class="mt-4"
             Items="@UnidadesFederativas"
             Filterable="true"
             QuickFilter="Filter"
             Hideable="true">
    <ToolBarContent>
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0" />
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.Nome" Title="Nome" />
        <PropertyColumn Property="x => x.Sigla" Title="Sigla" />
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/unidadefederativa/editar/{context.Item.Id}")"
                                   Color="Color.Primary">
                    </MudIconButton>

                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   arial-label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Nome)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>