@page "/curso/editar/{id}"
@inherits EditarCursoPage

<MudText Typo="Typo.h3" GutterBottom="true">Alterar Curso</MudText>

<MudPaper Class="pa-8 mt-4">
    <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />
        <MudTextField @bind-Value="InputModel.Titulo"
                      Label="Título do Curso"
                      Required="true"
                      HelperText="Campo obrigatório"
                      For="@(() => InputModel.Titulo)" />
        <MudTextField @bind-Value="InputModel.Descricao"
                      Label="Descrição do Curso"
                      TextArea="true"
                      Rows="4"
                      For="@(() => InputModel.Descricao)" />
        <MudTextField @bind-Value="InputModel.OrganizacaoEmissora"
                      Label="Organizadora emissora do certificado"
                      Required="true"
                      HelperText="Campo obrigatório"
                      For="@(() => InputModel.OrganizacaoEmissora)" />
        <div class="d-flex justify-end mt-4 mb-4">
            <MudDatePicker @bind-Date="InputModel.DataInicio"
                           Label="Data de Início"
                           Required="true"
                           For="@(() => InputModel.DataInicio)"
                           HelperText="Selecione a data de início do curso" />
            <MudSpacer />
            <MudDatePicker @bind-Date="InputModel.DataTermino"
                           Label="Data de Término"
                           Required="true"
                           For="@(() => InputModel.DataTermino)"
                           HelperText="Selecione a data de término do curso" />
        </div>
        <div class="d-flex justify-end mt-4 mb-4">
            <MudDatePicker @bind-Date="InputModel.DataEmissao"
                           Label="Data de Emissão"
                           For="@(() => InputModel.DataEmissao)"
                           Required="true"
                           HelperText="Selecione a data de emissão do certificado" />            
            <MudSpacer />
            <MudDatePicker @bind-Date="InputModel.DataExpiracao"
                           Label="Data de Expiração"
                           For="@(() => InputModel.DataExpiracao)"
                           HelperText="Selecione a data de expiração do certificado" />            
        </div>

        <div class="d-flex justify-end mt-4 mb-4">
            <MudSelect T="int"
                       Label="Tipo de curso"
                       @bind-Value="InputModel.TipoCursoId"
                       Required="true"
                       For="@(() => InputModel.TipoCursoId)"
                       AnchorOrigin="Origin.BottomCenter">
                @foreach (var tipo in TiposCurso)
                {
                    <MudSelectItem T="int" Value="@tipo.Id">@tipo.Titulo</MudSelectItem>
                }
            </MudSelect>
            <MudSpacer />
            <MudSelect T="int"
                       Label="Situação de curso"
                       @bind-Value="InputModel.SituacaoCursoId"
                       Required="true"
                       For="@(() => InputModel.SituacaoCursoId)"
                       AnchorOrigin="Origin.BottomCenter">

                @foreach (var situacao in SituacoesCurso)
                {
                    <MudSelectItem T="int" Value="@situacao.Id">@situacao.Titulo</MudSelectItem>
                }
            </MudSelect>
        </div>

        <div class="d-flex justify-end mt-4 mb-4">
            <MudTextField @bind-Value="InputModel.CargaHoraria"
                          Label="Carga Horária (Horas)"
                          Required="true"
                          Type="number"
                          Variant="Variant.Text"
                          For="@(() => InputModel.CargaHoraria)"
                          Format="N0" />
            <MudSpacer />
            <MudTextField @bind-Value="InputModel.CodigoCredencial"
                          Label="Código credencial"
                          For="@(() => InputModel.CodigoCredencial)"
                          HelperText="Código de credencial do certificado" />
        </div>
        <MudTextField @bind-Value="InputModel.UrlCredencial"
                      Label="Url credencial (Certificado)"
                      For="@(() => InputModel.UrlCredencial)"
                      HelperText="Url credencial (certificado)" />

        <MudTextField @bind-Value="InputModel.Competencia"
                      Label="Competências"
                      For="@(() => InputModel.Competencia)"
                      HelperText="Competências" />

        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">Salvar</MudButton>
    </EditForm>
</MudPaper>