@page "/curso"
@inherits ListarCursoPage

<MudText Typo="Typo.h3">Cursos</MudText>

<div class="d-flex justify-end mt-4 mb-4">
    <MudButton 
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.Material.TwoTone.Add"
        Href="/curso/adicionar">
        NOVO CURSO
    </MudButton>
</div>

<div class="d-flex justify-end mt-4 mb-4">
    <MudSelect T="int" Label="Mês" @bind-Value="MesAtual" AnchorOrigin="Origin.BottomCenter" Class="mr-4">
        @for (var mes = 1; mes <= 12; mes++)
        {
            var data = new DateTime(DateTime.Now.Year, mes, 1);
            <MudSelectItem T="int" Value="@mes">@(data.ToString("MMMM"))</MudSelectItem>
        }
    </MudSelect>
    <MudSelect T="int" Label="Ano" @bind-Value="AnoAtual" AnchorOrigin="Origin.BottomCenter">
        @foreach(var ano in Anos)
        {
            <MudSelectItem T="int" Value="@ano">@ano</MudSelectItem>
        }
    </MudSelect>
    <MudSpacer />
    <MudButton
        Size="Size.Small"
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.Material.TwoTone.Search"
        OnClick="OnSearchAsync">
        Pesquisar
    </MudButton>
</div>

<MudDataGrid 
    Items="@Cursos"
    Filterable="true"
    QuickFilter="Filter"
    Hideable="true"
    ColumnResizeMode="ResizeMode.Column">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Cursos</MudText>
        <MudSpacer />
        <MudTextField 
            @bind-Value="SearchTerm"
            Placeholder="Filtrar..."
            Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search"
            IconSize="Size.Medium"
            Class="mt-0"/>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="c => c.Titulo" Title="Nome" />
        <PropertyColumn Property="c => c.Descricao" Title="Descrição" />
        <PropertyColumn Property="c => c.OrganizacaoEmissora" Title="Organizadora Emissora" />
        <PropertyColumn Property="c => c.DataInicio" Title="Data Início" Format="dd/MM/yyyy" />
        <PropertyColumn Property="c => c.DataTermino" Title="Data Término" Format="dd/MM/yyyy" />
        <PropertyColumn Property="c => c.CargaHoraria" Title="Carga Horária" Format="N0" />
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton
                        Icon="@Icons.Material.Filled.Edit"
                        Href="@($"/curso/editar/{context.Item.Id}")"
                        Color="Color.Primary">
                    </MudIconButton>
                    <MudIconButton
                        Icon="@Icons.Material.Filled.Delete"
                        Color="Color.Error"
                        arial-label="Excluir"
                        OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Titulo)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
