@page "/situacaocurso"
@inherits ListarSituacaoCursoPage

<MudText Typo="Typo.h3">Situações de curso</MudText>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.TwoTone.Add"
               Href="/situacaocurso/adicionar">
        NOVA SITUAÇÃO DE CURSO
    </MudButton>
</div>

<MudDataGrid class="mt-4"
             Items="@SituacoesCurso"
             Filterable="true"
             QuickFilter="Filter"
             Hideable="true">
    <ToolBarContent>
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0" />
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.Titulo" Title="Título" />
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/situacaocurso/editar/{context.Item.Id}")"
                                   Color="Color.Primary">
                    </MudIconButton>

                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   arial-label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Titulo)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>